body {
	margin: 0;
	padding: 0;
}

#canvas {
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: #1c2c57;
}

.coordinates {
	text-align: center;
}

.coordinates::selection {
	background: none;
}